{% extends 'eng/categoryTemplate.html.twig' %}

{% block menu %}



        <div class="col-md-3">

            <div class=" my-subcategory-div list-group">

                <a href="{{ path('all_products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'none'
                }) }}" class="my-subcategory list-group-item">ALL PRODUCTS</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'collars'
                }) }}" class="my-subcategory list-group-item">COLLARS</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'leashes'
                }) }}" class="my-subcategory list-group-item">LEASHES</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'harnesses'
                }) }}" class="my-subcategory list-group-item">HARNESSES</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'bows'
                }) }}" class="my-subcategory list-group-item">BOWS</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'ties'
                }) }}" class="my-subcategory list-group-item">TIES</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'idtags'
                }) }}" class="my-subcategory list-group-item">ID TAGS</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'dog carrier'
                }) }}" class="my-subcategory list-group-item">DOG CARRIER</a>


            </div>
        </div>

{% endblock %}