{% extends 'eng/categoryTemplate.html.twig' %}

{% block menu %}



    <div class="col-md-3">

        <div class=" my-subcategory-div list-group">

            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'none'
            }) }}" class="my-subcategory list-group-item">ALL PRODUCTS</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 't-shirts'
            }) }}" class="my-subcategory list-group-item">T-SHIRTS</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'hoodies'
            }) }}" class="my-subcategory list-group-item">HOODIES</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'sweaters'
            }) }}" class="my-subcategory list-group-item">SWEATERS</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'raincoats'
            }) }}" class="my-subcategory list-group-item">RAINCOATS</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'jackets'
            }) }}" class="my-subcategory list-group-item">JACKETS</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'vests'
            }) }}" class="my-subcategory list-group-item">VESTS</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'jumpsuits'
            }) }}" class="my-subcategory list-group-item">JUMPSUITS</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'dresses'
            }) }}" class="my-subcategory list-group-item">DRESSES</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'skirts'
            }) }}" class="my-subcategory list-group-item">SKIRTS</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'jeans'
            }) }}" class="my-subcategory list-group-item">JEANS</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'shirts'
            }) }}" class="my-subcategory list-group-item">SHIRTS</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'coats'
            }) }}" class="my-subcategory list-group-item">COATS</a>
            <hr style="margin-right: 10%;"/>
            <a href="{{ path('all_products', {
                'lang':'eng',
                'animal' : 'dog',
                'category' : 'apparel',
                'subcategory': 'panties'
            }) }}" class="my-subcategory list-group-item">PANTIES</a>

        </div>
    </div>

{% endblock %}