{% extends 'eng/categoryTemplate.html.twig' %}

{% block menu %}



        <div class="col-md-3">

            <div class=" my-subcategory-div list-group">

                <a href="{{ path('all_products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'none'

                }) }}" class="my-subcategory list-group-item">ALL PRODUCTS</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('all_products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'perfumes'

                }) }}" class="my-subcategory list-group-item">PERFUMES</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('all_products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'shampoos'

                }) }}" class="my-subcategory list-group-item">SHAMPOOS</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('all_products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'wet wipes'

                }) }}" class="my-subcategory list-group-item">WET WIPES</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('all_products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'grooming'

                }) }}" class="my-subcategory list-group-item">GROOMING</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('all_products', {
                    'lang':'eng',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'protection'

                }) }}" class="my-subcategory list-group-item">PROTECTION</a>


            </div>
        </div>

{% endblock %}