{% extends 'srp/base.html.twig' %}

{% block body %}


    <div class="my-row row" >


        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="{{ path('dog_products', {
                'lang':'srp',
                'category' : 'apparel'
            }) }}">
                <img class="my-category-box" src="{{ asset('img/clothes.jpg') }}"/>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="{{ path('dog_products', {
                'lang':'srp',
                'category' : 'bedding'
            }) }}">
                <img class="my-category-box" src="{{ asset('img/bedding.jpg') }}"/>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="{{ path('dog_products', {
                'lang':'srp',
                'category' : 'spa'
            }) }}">
                <img class="my-category-box" src="{{ asset('img/spa.jpg') }}"/>
            </a>
        </div>
    </div>
    <div class="my-row row">

        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="{{ path('dog_products', {
                'lang':'srp',
                'category' : 'toys'
            }) }}">
                <img class="my-category-box" src="{{ asset('img/toys.jpg') }}"/>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="{{ path('dog_products', {
                'lang':'srp',
                'category' : 'accessories'
            }) }}">
                <img class="my-category-box" src="{{ asset('img/accessories.jpg') }}"/>
            </a>
        </div>


        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="{{ path('dog_products', {
                'lang':'srp',
                'category' : 'feeding'
            }) }}">
                <img class="my-category-box" src="{{ asset('img/feeding.jpg') }}"/>
            </a>
        </div>
    </div>
    <div class="my-row row">

        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="{{ path('dog_products', {
                'lang':'srp',
                'category' : 'food'
            }) }}">
                <img class="my-category-box" src="{{ asset('img/food.jpg') }}"/>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#">

            </a>
        </div>


        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="{{ path('cat_products', {
                'lang':'srp',
            }) }}">
                <img class="my-category-box" src="{{ asset('img/cats.jpg') }}"/>
            </a>
        </div>
    </div>

{% endblock %}


