{% extends 'srp/base.html.twig' %}

{% block body %}


            <div class="my-row row">


                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#">
                        <img class="my-category-box" src="{{ asset('img/FuzzYard-Category-Bedding.jpg') }}"/>
                    </a>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#">
                        <img class="my-category-box" src="{{ asset('img/FuzzYard-Category-Bedding.jpg') }}"/>
                    </a>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#">
                        <img class="my-category-box" src="{{ asset('img/FuzzYard-Category-Bedding.jpg') }}"/>
                    </a>
                </div>
            </div>
            <div class="my-row row">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#">
                        <img class="my-category-box" src="{{ asset('img/FuzzYard-Category-Bedding.jpg') }}"/>
                    </a>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#">
                        <img class="my-category-box" src="{{ asset('img/FuzzYard-Category-Bedding.jpg') }}"/>
                    </a>
                </div>


                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#">
                        <img class="my-category-box" src="{{ asset('img/FuzzYard-Category-Bedding.jpg') }}"/>
                    </a>
                </div>
            </div>


{% endblock %}


