{% extends 'srp/categoryTemplate.html.twig' %}

{% block menu %}



        <div class="col-md-3">

            <div class=" my-subcategory-div list-group">

                <a href="{{ path('all_products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'none'
                }) }}" class="my-subcategory list-group-item">SVI PROIZVODI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'collars'
                }) }}" class="my-subcategory list-group-item">OGRLICE</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'leashes'
                }) }}" class="my-subcategory list-group-item">POVODCI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'harnesses'
                }) }}" class="my-subcategory list-group-item">AMOVI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'bows'
                }) }}" class="my-subcategory list-group-item">MAŠNE</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'ties'
                }) }}" class="my-subcategory list-group-item">KRAVATE</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'idtags'
                }) }}" class="my-subcategory list-group-item">ADRESARI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'accessories',
                    'subcategory': 'dog carrier'
                }) }}" class="my-subcategory list-group-item">TORBE</a>

            </div>
        </div>

{% endblock %}