{% extends 'srp/categoryTemplate.html.twig' %}

{% block menu %}



        <div class="col-md-3">

            <div class=" my-subcategory-div list-group">

                <a href="{{ path('all_products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'none'
                }) }}" class="my-subcategory list-group-item">SVI PROIZVODI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 't-shirts'
                }) }}" class="my-subcategory list-group-item">MAJICE</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'hoodies'
                }) }}" class="my-subcategory list-group-item">DUKSEVI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'sweaters'
                }) }}" class="my-subcategory list-group-item">DŽEMPERI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'raincoats'
                }) }}" class="my-subcategory list-group-item">KABANICE</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'jackets'
                }) }}" class="my-subcategory list-group-item">JAKNE</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'vests'
                }) }}" class="my-subcategory list-group-item">PRSLUCI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'jumpsuits'
                }) }}" class="my-subcategory list-group-item">KOMBINEZONI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'dresses'
                }) }}" class="my-subcategory list-group-item">HALJINE</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'skirts'
                }) }}" class="my-subcategory list-group-item">SUKNJE</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'jeans'
                }) }}" class="my-subcategory list-group-item">FARMERKE</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'shirts'
                }) }}" class="my-subcategory list-group-item">KOŠULJE</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'coats'
                }) }}" class="my-subcategory list-group-item">KAPUTI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'apparel',
                    'subcategory': 'panties'
                }) }}" class="my-subcategory list-group-item">GAĆE</a>
                

            </div>
        </div>

{% endblock %}