{% extends 'srp/categoryTemplate.html.twig' %}

{% block menu %}



        <div class="col-md-3">

            <div class=" my-subcategory-div list-group">

                <a href="{{ path('all_products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'none'

                }) }}" class="my-subcategory list-group-item">SVI PROIZVODI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'perfumes'

                }) }}" class="my-subcategory list-group-item">PARFEMI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'shampoos'

                }) }}" class="my-subcategory list-group-item">ŠAMPONI</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'wet wipes'

                }) }}" class="my-subcategory list-group-item">VLAŽNE MARAMICES</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'grooming'

                }) }}" class="my-subcategory list-group-item">ČETKE</a>
                <hr style="margin-right: 10%;"/>
                <a href="{{ path('products', {
                    'lang':'srp',
                    'animal' : 'dog',
                    'category' : 'spa',
                    'subcategory':'protection'

                }) }}" class="my-subcategory list-group-item">ZAŠTITA</a>

            </div>
        </div>

{% endblock %}