<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="sPigeon">

    <title>{% block title %}MrAndMrsPet{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/business-casual.css') }}" rel="stylesheet">

        <!-- Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
              rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
              rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- MyStyle -->
        <link href="{{ asset('css/mystyle.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="my-body">


<div class="container">
    <div class=" my-language">
        <ul>
            <li><a href="{{ urlEng }}">ENG</a></li>
            <li><a href="{{ urlSrp }}">SRP</a></li>
        </ul>
    </div>

    <div class="my-brand brand"><img src="{{ asset('img/logo.jpg') }}" class="my-logo" alt="">
    </div>

    {% block navigation %}
    <!-- Navigation -->
    <div id="navigation">
        <nav class="my-hr navbar navbar-default" role="navigation" style="margin-bottom: 0 ">


            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="background-color: #fff;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the specificCategory is collapsed -->
                <a class=" navbar-brand" href="{{ path('home') }}" style="padding:0;"><img
                            src="{{ asset('img/logo.jpg') }}"
                            style=" max-width: 100px;max-height: 50px ;min-width: 100px ; min-height: 50px ;"
                            alt=""></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-menu" style="background-color:white;">
                <hr/>
                <ul class="my-menu nav navbar-nav ">

                    <li>
                        <a href="{{ path('home', {'lang' : 'eng'}) }}">HOME</a>
                    </li>
                    <li class="my-dropdown-menu-item" id="action">
                        <a href="{{ path('category', {'lang' : 'eng'}) }}">PRODUCTS <span
                                    class="glyphicon glyphicon-menu-down"></span></a>


                    </li>
                    <li>
                        <a href="{{ path('about', {'lang' : 'eng'}) }}">ABOUT US</a>
                    </li>
                    <li>
                        <a href="{{ path('contact', {'lang' : 'eng'}) }}">CONTACT US</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.container -->

        </nav>


        <div id="reaction" style="display:none">
            <div class="my-dropdown-content my-dropdown-contennt-container">
                <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0 ">


                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" style="padding-left: 0; padding-right: 0; "
                         id="dropdown-menu">

                        <ul class="my-dropdown-menu nav navbar-nav ">
                            <li>
                                <a href="{{ path('all_products', {
                                    'lang':'eng',
                                    'animal' : 'dog',
                                    'category' : 'apparel'
                                }) }}">
                                    <img src="{{ asset('img/clothes.jpg') }}" class="my-logo" alt="">
                                    <br/>
                                    APPAREL</a>
                            </li>
                            <li>
                                <a href="{{ path('all_products', {
                                    'lang':'eng',
                                    'animal' : 'dog',
                                    'category' : 'bedding'
                                }) }}"><img src="{{ asset('img/bedding.jpg') }}" class="my-logo" alt="">
                                    <br/>
                                    BEDDING
                                </a>

                            </li>
                            <li>
                                <a href="{{ path('all_products', {
                                    'lang':'eng',
                                    'animal' : 'dog',
                                    'category' : 'spa'
                                }) }}"><img src="{{ asset('img/spa.jpg') }}" class="my-logo" alt="">
                                    <br/>
                                    SPA
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('all_products', {
                                    'lang':'eng',
                                    'animal' : 'dog',
                                    'category' : 'toys'
                                }) }}"><img src="{{ asset('img/toys.jpg') }}" class="my-logo" alt="">
                                    <br/>
                                    TOYS
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('all_products', {
                                    'lang':'eng',
                                    'animal' : 'dog',
                                    'category' : 'accessories'
                                }) }}">
                                    <img src="{{ asset('img/accessories.jpg') }}" class="my-logo" alt="">
                                    <br/>
                                    ACCESSORIES
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('all_products', {
                                    'lang':'eng',
                                    'animal' : 'dog',
                                    'category' : 'feeding'
                                }) }}">
                                    <img src="{{ asset('img/feeding.jpg') }}" class="my-logo" alt="">
                                    <br/>
                                    FEEDING
                                </a>

                            </li>
                            <li>
                                <a href="{{ path('all_products', {
                                    'lang':'eng',
                                    'animal' : 'dog',
                                    'category' : 'food'
                                }) }}">
                                    <img src="{{ asset('img/food.jpg') }}" class="my-logo" alt="">
                                    <br/>
                                    FOOD
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('all_cat', {
                                    'lang':'eng',
                                    'animal' : 'cat',
                                }) }}"><img src="{{ asset('img/cats.jpg') }}" class="my-logo" alt="">
                                    <br/>
                                    CATS
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->

                    <!-- /.container -->

                </nav>

            </div>
        </div>

    </div>
</div>
{% endblock %}
<div class="container">
    <div class="box">


        {% block body %}{% endblock %}

    </div>
</div>


{% block footer %}
    <div class="container">


        <div class="my-down-menu">

            <a href="{{ path('home', {'lang' : 'eng'}) }}">HOME</a>
            <a href="{{ path('category', {'lang' : 'eng'}) }}">PRODUCTS</a>
            <a href="{{ path('about', {'lang' : 'eng'}) }}">ABOUT US</a>
            <a href="{{ path('contact', {'lang' : 'eng'}) }}">CONTACT US</a>
            <br/>
            <p> Copyright &copy; Marija Janković & Marko Kastratović </p>

        </div>
    </div>
{% endblock %}


{% block javascripts %}




    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('js/myscript.js') }}"></script>



{% endblock %}
</body>
</html>
